openapi: 3.0.3
info:
  title: QalcuityERP API
  description: |
    Comprehensive ERP system API with multi-tenant support.
    
    ## Authentication
    The API supports two authentication methods:
    
    ### API Token Authentication
    Use API tokens for server-to-server communication:
    - Header: `Authorization: Bearer {token}` or `X-API-Token: {token}`
    - Token abilities: `read`, `write`, or `*` (wildcard)
    
    ### Sanctum Authentication
    Use Sanctum tokens for web/mobile applications:
    - Header: `Authorization: Bearer {sanctum_token}`
    
    ## Rate Limiting
    - Read endpoints: 60 requests/minute (varies by plan)
    - Write endpoints: 20 requests/minute (varies by plan)
    - Webhook endpoints: 100 requests/minute
    
    ## Response Format
    All endpoints return a consistent JSON envelope:
    ```json
    {
      "success": true,
      "message": "Operation successful",
      "data": { ... },
      "meta": {
        "current_page": 1,
        "per_page": 20,
        "total": 100
      }
    }
    ```
    
    ## Error Responses
    ```json
    {
      "success": false,
      "message": "Error description",
      "error": {
        "code": "ERROR_CODE",
        "details": [ ]
      }
    }
    ```
  version: 1.0.0
  contact:
    name: QalcuityERP Support
    email: support@qalcuity.com
  license:
    name: Proprietary
    url: https://qalcuity.com/license

servers:
  - url: https://api.qalcuity.com/api/v1
    description: Production server
  - url: http://localhost:8000/api/v1
    description: Local development server

tags:
  - name: Core
    description: Core ERP operations
  - name: Healthcare
    description: Healthcare management
  - name: Hotel
    description: Hotel management
  - name: Inventory
    description: Inventory & warehouse
  - name: HRM
    description: Human Resource Management
  - name: Manufacturing
    description: Manufacturing & production
  - name: Agriculture
    description: Agriculture management
  - name: Fisheries
    description: Fisheries management
  - name: Livestock
    description: Livestock management
  - name: Cosmetics
    description: Cosmetics industry
  - name: Tour & Travel
    description: Tour and travel booking
  - name: Webhooks
    description: Webhook integrations
  - name: Health Check
    description: System health monitoring

paths:
  # ── Core Products ──────────────────────────────────────
  /products:
    get:
      tags: [Core]
      summary: List products
      description: Retrieve paginated list of products
      operationId: listProducts
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
        - name: search
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductList'
      security:
        - ApiToken: [read]
        - Sanctum: []

  # ── Core Orders ────────────────────────────────────────
  /orders:
    get:
      tags: [Core]
      summary: List orders
      operationId: listOrders
      responses:
        '200':
          description: Successful response
      security:
        - ApiToken: [read]
        - Sanctum: []
    post:
      tags: [Core]
      summary: Create order
      operationId: createOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCreate'
      responses:
        '201':
          description: Order created
      security:
        - ApiToken: [write]
        - Sanctum: []

  # ── Healthcare - Patients ─────────────────────────────
  /healthcare/patients:
    get:
      tags: [Healthcare]
      summary: List patients
      operationId: listPatients
      responses:
        '200':
          description: Patient list
      security:
        - Sanctum: []
    post:
      tags: [Healthcare]
      summary: Create patient
      operationId: createPatient
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientCreate'
      responses:
        '201':
          description: Patient created
      security:
        - Sanctum: []

  /healthcare/patients/{id}:
    get:
      tags: [Healthcare]
      summary: Get patient details
      operationId: getPatient
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Patient details
      security:
        - Sanctum: []
    put:
      tags: [Healthcare]
      summary: Update patient
      operationId: updatePatient
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Patient updated
      security:
        - Sanctum: []
    delete:
      tags: [Healthcare]
      summary: Delete patient
      operationId: deletePatient
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Patient deleted
      security:
        - Sanctum: []

  # ── Healthcare - EMR ──────────────────────────────────
  /healthcare/emr:
    get:
      tags: [Healthcare]
      summary: List medical records
      operationId: listEmr
      responses:
        '200':
          description: Medical records
      security:
        - Sanctum: []
    post:
      tags: [Healthcare]
      summary: Create medical record
      operationId: createEmr
      responses:
        '201':
          description: Record created
      security:
        - Sanctum: []

  # ── Healthcare - Appointments ─────────────────────────
  /healthcare/appointments:
    get:
      tags: [Healthcare]
      summary: List appointments
      operationId: listAppointments
      responses:
        '200':
          description: Appointment list
      security:
        - Sanctum: []
    post:
      tags: [Healthcare]
      summary: Create appointment
      operationId: createAppointment
      responses:
        '201':
          description: Appointment created
      security:
        - Sanctum: []

  # ── Hotel - Rooms ─────────────────────────────────────
  /hotel/rooms:
    get:
      tags: [Hotel]
      summary: List hotel rooms
      operationId: listRooms
      responses:
        '200':
          description: Room list
      security:
        - Sanctum: []
    post:
      tags: [Hotel]
      summary: Create room
      operationId: createRoom
      responses:
        '201':
          description: Room created
      security:
        - Sanctum: []

  /hotel/rooms/{id}:
    get:
      tags: [Hotel]
      summary: Get room details
      operationId: getRoom
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Room details
      security:
        - Sanctum: []

  # ── Hotel - Reservations ──────────────────────────────
  /hotel/reservations:
    get:
      tags: [Hotel]
      summary: List reservations
      operationId: listReservations
      responses:
        '200':
          description: Reservation list
      security:
        - Sanctum: []
    post:
      tags: [Hotel]
      summary: Create reservation
      operationId: createReservation
      responses:
        '201':
          description: Reservation created
      security:
        - Sanctum: []

  # ── Inventory ─────────────────────────────────────────
  /inventory/products:
    get:
      tags: [Inventory]
      summary: List inventory products
      operationId: listInventoryProducts
      responses:
        '200':
          description: Inventory list
      security:
        - Sanctum: []

  /inventory/movements:
    get:
      tags: [Inventory]
      summary: List stock movements
      operationId: listMovements
      responses:
        '200':
          description: Movement history
      security:
        - Sanctum: []
    post:
      tags: [Inventory]
      summary: Record stock movement
      operationId: createMovement
      responses:
        '201':
          description: Movement recorded
      security:
        - Sanctum: []

  /inventory/low-stock:
    get:
      tags: [Inventory]
      summary: Get low stock alerts
      operationId: getLowStockAlerts
      responses:
        '200':
          description: Low stock items
      security:
        - Sanctum: []

  # ── HRM - Employees ───────────────────────────────────
  /hrm/employees:
    get:
      tags: [HRM]
      summary: List employees
      operationId: listEmployees
      responses:
        '200':
          description: Employee list
      security:
        - Sanctum: []
    post:
      tags: [HRM]
      summary: Create employee
      operationId: createEmployee
      responses:
        '201':
          description: Employee created
      security:
        - Sanctum: []

  # ── HRM - Attendance ──────────────────────────────────
  /hrm/attendance/check-in:
    post:
      tags: [HRM]
      summary: Check-in attendance
      operationId: checkIn
      responses:
        '201':
          description: Check-in successful
      security:
        - Sanctum: []

  /hrm/attendance/check-out:
    post:
      tags: [HRM]
      summary: Check-out attendance
      operationId: checkOut
      responses:
        '201':
          description: Check-out successful
      security:
        - Sanctum: []

  # ── Manufacturing ─────────────────────────────────────
  /manufacturing/production-orders:
    get:
      tags: [Manufacturing]
      summary: List production orders
      operationId: listProductionOrders
      responses:
        '200':
          description: Production order list
      security:
        - Sanctum: []
    post:
      tags: [Manufacturing]
      summary: Create production order
      operationId: createProductionOrder
      responses:
        '201':
          description: Production order created
      security:
        - Sanctum: []

  # ── Webhooks ──────────────────────────────────────────
  /webhooks/shopee:
    post:
      tags: [Webhooks]
      summary: Handle Shopee webhook
      operationId: handleShopeeWebhook
      responses:
        '200':
          description: Webhook processed
      security: []

  /webhooks/tokopedia:
    post:
      tags: [Webhooks]
      summary: Handle Tokopedia webhook
      operationId: handleTokopediaWebhook
      responses:
        '200':
          description: Webhook processed
      security: []

  # ── Health Check ──────────────────────────────────────
  /health:
    get:
      tags: [Health Check]
      summary: Basic health check
      operationId: healthCheck
      responses:
        '200':
          description: System healthy
      security: []

  /health/detailed:
    get:
      tags: [Health Check]
      summary: Detailed health check
      operationId: detailedHealthCheck
      responses:
        '200':
          description: Detailed system status
      security: []

components:
  securitySchemes:
    ApiToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: API token with read/write abilities
    Sanctum:
      type: http
      scheme: bearer
      bearerFormat: Sanctum
      description: Laravel Sanctum authentication token

  schemas:
    ProductList:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/Product'
        meta:
          type: object
          properties:
            current_page:
              type: integer
            per_page:
              type: integer
            total:
              type: integer

    Product:
      type: object
      properties:
        id:
          type: integer
        product_code:
          type: string
        name:
          type: string
        price:
          type: number
        stock:
          type: integer
        tenant_id:
          type: integer

    OrderCreate:
      type: object
      required:
        - customer_id
        - items
      properties:
        customer_id:
          type: integer
        items:
          type: array
          items:
            type: object
            properties:
              product_id:
                type: integer
              quantity:
                type: integer
              price:
                type: number
        notes:
          type: string

    PatientCreate:
      type: object
      required:
        - mrn
        - full_name
      properties:
        mrn:
          type: string
          description: Medical Record Number
        full_name:
          type: string
        date_of_birth:
          type: string
          format: date
        gender:
          type: string
          enum: [male, female, other]
        phone:
          type: string
        email:
          type: string
